<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/38c130a5-ad12-4b31-b608-c2754190cae6/resourcegroups/DefaultResourceGroup-CAU/providers/Microsoft.Web/sites/postgradoSistem</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CAU</ResourceGroup>
    <ApiResourceId>/subscriptions/38c130a5-ad12-4b31-b608-c2754190cae6/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.ApiManagement/service/backSisInvestigacionapi/apis/backSisInvestigacion</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://postgradosistem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a3e7075f-4efb-45d5-9d8b-f07743dcc4ef</ProjectGuid>
    <MSDeployServiceURL>postgradosistem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>postgradoSistem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$postgradoSistem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net5.0</TargetFramework>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>